<!-- <div fxLayout="column" fxFlexFill class="container" >
  <div [fxFlex]="20" class="header" >Header</div>
  <div [fxFlex]="65" class="content">Content</div>
  <div [fxFlex]="15" class="footer">Footer</div>
</div> -->

<!-- fxLayout="column" fxFlexFill -->
<div fxLayout="row" fxFlexFill>
    <div [fxFlex]="30" style="background-color: lawngreen">cantidad</div>
    <div [fxFlex]="70" style="background-color: red">?????</div>
</div>  
<div fxLayout="column" fxFlexFill>
    <div [fxFlex]="50" style="background-color: blue;">Tabla de ventas registros</div>  
    <div [fxFlex]="10" style="background-color: brown;">Precio</div>  
    <div [fxFlex]="10" style="background-color: greenyellow">Pago</div>  
</div> 
  