.container{
    border: 1px solid red;
    
    .header{
        border: 1px solid yellow;
    }
    
    .content{
        border: 1px solid green;
    }
    
    .footer{
        border: 1px solid blue;
    }
}