<!-- <div fxLayout="row" fxFlexFillclass="container" >
  <div [fxFlex]="20" class="header" >Header</div>
  
  <div [fxFlex]="15" class="footer">Footer</div>
</di  v>  -->

<div class="Margenes" fxLayout="column">

  <app-header 
    fxLayout="row"
    fxFlex.xs="10" 
    fxFlex="10">
  </app-header>
  
  <div class="main-container" fxFlex="80">
    <router-outlet></router-outlet>
  </div>

  <app-footer class="footer" 
    fxLayout.gt-md ="column"  
    fxFlex.xs="10" 
    fxFlex="10">
  </app-footer>
    
</div>
















<!-- <div fxLayoutGap="10px" fxLayoutGap.xs="0">
    
  </div> -->
<!-- 
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0" >
    <div></div>
    <div fxFlex="70"  class="item-3">Tabla de ventas registros</div>  
    <div fxFlex="30"  class="item-5">
      Precio
      Pago
    </div>  
  </div> -->