<!-- <div fxLayout="row" fxFlexFill class="container" >
  <div [fxFlex]="20" class="header" >Header</div>
  <div [fxFlex]="65" class="content">Content</div>
  <div [fxFlex]="15" class="footer">Footer</div>
</div>  -->

<div class="container" fxLayout="column">
  
  <app-header style="background-color: orange;" 
    fxLayout="row" 
    fxFlex="10"></app-header>
  

  <app-label style="background-color: brown; text-align: center;"
    fxLayout="row" 
    fxFlex="15" 
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"></app-label>
  
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0" fxFlex="75">
    <div></div>
    <div fxFlex="65"  class="item-3">Tabla de ventas registros</div>  
    <div fxFlex="35"  class="item-5">
      <div>Precio</div>
      <div>Pago</div> 
    </div>  
  </div>

</div><!-- container -->
















<!-- <div fxLayoutGap="10px" fxLayoutGap.xs="0">
    
  </div> -->
<!-- 
  <div fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0" >
    <div></div>
    <div fxFlex="70"  class="item-3">Tabla de ventas registros</div>  
    <div fxFlex="30"  class="item-5">
      Precio
      Pago
    </div>  
  </div> -->