.container{
    /* border: 1px solid red; */
    
}
    
    
.item{
    background-color: blue;


}
    
    /* .content{
        border: 1px solid green;
    }
    
    .footer{
        border: 1px solid blue;
    } */
