<!-- <div>
  <label fxFlex-md="8"><strong>Precio total: </strong></label>
  <input type="text" id="cantidad"/>
</div>
  <br>
<div fxLayout.gt-md ="row" fxLayout.xs ="row">
  <label fxFlex-md="8" fxFlex-xs="50"><strong>Tipo de pago: </strong></label> 
  <input type="checkbox" name="contado" value="contado">Contado<br>
  <input type="checkbox" name="cuotas" value="cuotas">Cuotas<br>
</div>
 -->
<footer class="footer bg-dark text-center">
  <p class="text-white">
    &copy; 2019 Maikol Rico P
  </p>
</footer>
